In [322]:
import numpy as np
import pandas as pd
#data visualization
import seaborn as sns
import matplotlib.pyplot as plt

#extra
import warnings 
warnings.filterwarnings('ignore')

In [323]:
lending_df = pd.read_csv(r'C:\Users\murugans\Downloads\loan\loan.csv')

In [324]:
lending_df.shape

(39717, 111)

# 1 Data Cleaning
#Delete incorrect rows, Unncessary Header and Footer in the data set

In [325]:
lending_df.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [326]:
lending_df.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
39712,92187,92174,2500,2500,1075.0,36 months,8.07%,78.42,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39713,90665,90607,8500,8500,875.0,36 months,10.28%,275.38,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39714,90395,90390,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39715,90376,89243,5000,5000,650.0,36 months,7.43%,155.38,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39716,87023,86999,7500,7500,800.0,36 months,13.75%,255.43,E,E2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [327]:
## Looks like no header and footer in the data frame. Also no summary columns
#2 lets check about duplicate rows
duplicate = len(lending_df[lending_df.duplicated()])

In [328]:
print("No of duplicate rows = ", duplicate)

No of duplicate rows =  0

In [329]:
# No duplicate Rows found, 
# We found in the data set, there were many columns having Null values.
# It is not required for analysis. Hence find and remove those columns
null_columns = sum(lending_df.isnull().all())

In [330]:
null_columns

54

print('No of columns having all values as null', null_columns)

In [331]:
null_column_name = lending_df.columns[lending_df.isnull().all()]

In [332]:
null_column_name

Index(['mths_since_last_major_derog', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'tot_coll_amt', 'tot_cur_bal',
       'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m',
       'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m',
       'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal',
       'bc_open_to_buy', 'bc_util', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
       'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit'],
      dtype='object')

In [333]:
null_column_name.dtype

dtype('O')

In [334]:
## Delete all the columns having null values
lending_df = lending_df.dropna(axis=1, how='all')

In [335]:
lending_df.shape

(39717, 57)

In [336]:
##Delete columns having unique values
unique_columns = [col for col in lending_df.columns if lending_df[col].nunique() ==len(lending_df)]

In [337]:
unique_columns

['id', 'member_id', 'url']

In [338]:
lending_df.drop(unique_columns, axis =1, inplace = True)

In [339]:
lending_df.shape

(39717, 54)

In [340]:
# Now Delete all the columns which are having all the values as same.. also may not be usefull for further analysis
lending_df.drop(columns=['pymnt_plan','initial_list_status', 'collections_12_mths_ex_med'], axis =1, inplace=True)

In [341]:
lending_df.shape

(39717, 51)

In [342]:
#lending_df.to_csv(r'C:\Users\murugans\Downloads\loan\loan1.csv', index=False)

In [343]:
#following variables may not provide much insights on this case study, hence removing those columns
# some column having same values across all load Ids. hence may not be useful in the analysis. Hence removing them
Other_columns_Not_useful = ['sub_grade','total_rec_late_fee','last_pymnt_amnt','last_pymnt_d','next_pymnt_d', 'last_credit_pull_d', 'policy_code','application_type','acc_now_delinq','delinq_amnt','pub_rec_bankruptcies','tax_liens']
lending_df.drop(Other_columns_Not_useful, axis =1, inplace = True)

In [344]:
lending_df.nunique().sort_values()

chargeoff_within_12_mths        1
term                            2
loan_status                     3
verification_status             3
home_ownership                  5
pub_rec                         5
grade                           7
inq_last_6mths                  9
emp_length                     11
delinq_2yrs                    11
purpose                        14
open_acc                       40
addr_state                     50
issue_d                        55
total_acc                      82
mths_since_last_delinq         95
mths_since_last_record        111
int_rate                      371
earliest_cr_line              526
zip_code                      823
loan_amnt                     885
funded_amnt                  1041
revol_util                   1089
out_prncp                    1137
out_prncp_inv                1138
collection_recovery_fee      2616
dti                          2868
recoveries                   4040
annual_inc                   5318
total_rec_prncp              7976
funded_amnt_inv              8205
installment                 15383
title                       19615
revol_bal                   21711
desc                        26527
emp_title                   28820
total_rec_int               35148
total_pymnt_inv             37518
total_pymnt                 37850
dtype: int64

In [345]:
#here we missed to delete one unique value column 'chargeoff_within_12_mths' Lets delete that
lending_df.drop(columns=['chargeoff_within_12_mths'], axis =1, inplace = True)

In [346]:
lending_df.head()
lending_df.nunique().sort_values()

term                           2
loan_status                    3
verification_status            3
home_ownership                 5
pub_rec                        5
grade                          7
inq_last_6mths                 9
emp_length                    11
delinq_2yrs                   11
purpose                       14
open_acc                      40
addr_state                    50
issue_d                       55
total_acc                     82
mths_since_last_delinq        95
mths_since_last_record       111
int_rate                     371
earliest_cr_line             526
zip_code                     823
loan_amnt                    885
funded_amnt                 1041
revol_util                  1089
out_prncp                   1137
out_prncp_inv               1138
collection_recovery_fee     2616
dti                         2868
recoveries                  4040
annual_inc                  5318
total_rec_prncp             7976
funded_amnt_inv             8205
installment                15383
title                      19615
revol_bal                  21711
desc                       26527
emp_title                  28820
total_rec_int              35148
total_pymnt_inv            37518
total_pymnt                37850
dtype: int64

In [347]:
#Now Lets drop all columns having more than 40% values are null.
(lending_df.isnull().sum()/len(lending_df)) *100

loan_amnt                   0.000000
funded_amnt                 0.000000
funded_amnt_inv             0.000000
term                        0.000000
int_rate                    0.000000
installment                 0.000000
grade                       0.000000
emp_title                   6.191303
emp_length                  2.706650
home_ownership              0.000000
annual_inc                  0.000000
verification_status         0.000000
issue_d                     0.000000
loan_status                 0.000000
desc                       32.580507
purpose                     0.000000
title                       0.027696
zip_code                    0.000000
addr_state                  0.000000
dti                         0.000000
delinq_2yrs                 0.000000
earliest_cr_line            0.000000
inq_last_6mths              0.000000
mths_since_last_delinq     64.662487
mths_since_last_record     92.985372
open_acc                    0.000000
pub_rec                     0.000000
revol_bal                   0.000000
revol_util                  0.125891
total_acc                   0.000000
out_prncp                   0.000000
out_prncp_inv               0.000000
total_pymnt                 0.000000
total_pymnt_inv             0.000000
total_rec_prncp             0.000000
total_rec_int               0.000000
recoveries                  0.000000
collection_recovery_fee     0.000000
dtype: float64

In [348]:
null_percentage = (lending_df.isnull().sum()/len(lending_df)) *100
col_with_more_null_percentage = null_percentage[null_percentage >= 40 ]
col_with_more_null_percentage_names = col_with_more_null_percentage.index.tolist()
col_with_more_null_percentage_names

['mths_since_last_delinq', 'mths_since_last_record']

In [349]:
lending_df.drop(col_with_more_null_percentage_names, axis =1, inplace = True)

In [350]:
lending_df.shape

(39717, 36)

In [351]:
# The purpose categoricol column has "house" and "home improvement" has two different category.
# but this can be treated as single category.

In [352]:
lending_df.loc[lending_df['purpose'] == 'home_improvement','purpose'] = 'house'

In [353]:
lending_df['purpose'].value_counts()

debt_consolidation    18641
credit_card            5130
other                  3993
house                  3357
major_purchase         2187
small_business         1828
car                    1549
wedding                 947
medical                 693
moving                  583
vacation                381
educational             325
renewable_energy        103
Name: purpose, dtype: int64

In [354]:
#lending_df.to_csv(r'C:\Users\murugans\Downloads\loan\loan1.csv', index=False)

In [355]:
#the column "purpose" has general category 'Others', for more proper analysis,
#based on the column "title" value, Others can be updated as Personal or medical or home_improvement or any other existing category.

#def update_based_on_condition(df, condition_value, update_value):
#    df['title'] = df['title'].fillna('')
#    df.loc[df['title'].str.contains(condition_value, case = False), 'purpose'] = update_value
#    return df

#conditions = {'other':'other','credit card':'credit_card','Personal':'Personal','Medical':'medical','home':'house','Vacation':'vacation', 'Car':'car','Travel':'vacation','Business':'small_business','vehicle':'car','Wedding':'wedding','purchase':'major_purchase','Debt Consolidation':'debt_consolidation','Solar':'renewable_energy','Education':'educational','Relocation':'moving', 'Moving':'moving' }
#for condition_value, update_value in conditions.items():
#   lending_df = update_based_on_condition(lending_df, condition_value, update_value)

In [356]:
lending_df['purpose'].value_counts()

debt_consolidation    18641
credit_card            5130
other                  3993
house                  3357
major_purchase         2187
small_business         1828
car                    1549
wedding                 947
medical                 693
moving                  583
vacation                381
educational             325
renewable_energy        103
Name: purpose, dtype: int64

In [357]:
#Now we do not need a title or description of the loan as it is already categorised properly with "purpose"
lending_df.drop(columns=['desc','title','emp_title'],inplace=True)

In [358]:
lending_df.shape

(39717, 33)

In [359]:
lending_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   loan_amnt                39717 non-null  int64
 1   funded_amnt              39717 non-null  int64
 2   funded_amnt_inv          39717 non-null  float64
 3   term                     39717 non-null  object
 4   int_rate                 39717 non-null  object
 5   installment              39717 non-null  float64
 6   grade                    39717 non-null  object
 7   emp_length               38642 non-null  object
 8   home_ownership           39717 non-null  object
 9   annual_inc               39717 non-null  float64
 10  verification_status      39717 non-null  object
 11  issue_d                  39717 non-null  object
 12  loan_status              39717 non-null  object
 13  purpose                  39717 non-null  object
 14  zip_code                 39717 non-null  object
 15  addr_state               39717 non-null  object
 16  dti                      39717 non-null  float64
 17  delinq_2yrs              39717 non-null  int64
 18  earliest_cr_line         39717 non-null  object
 19  inq_last_6mths           39717 non-null  int64
 20  open_acc                 39717 non-null  int64
 21  pub_rec                  39717 non-null  int64
 22  revol_bal                39717 non-null  int64
 23  revol_util               39667 non-null  object
 24  total_acc                39717 non-null  int64
 25  out_prncp                39717 non-null  float64
 26  out_prncp_inv            39717 non-null  float64
 27  total_pymnt              39717 non-null  float64
 28  total_pymnt_inv          39717 non-null  float64
 29  total_rec_prncp          39717 non-null  float64
 30  total_rec_int            39717 non-null  float64
 31  recoveries               39717 non-null  float64
 32  collection_recovery_fee  39717 non-null  float64
dtypes: float64(12), int64(8), object(13)
memory usage: 10.0+ MB

# 2 Data Standardization

In [360]:
lending_df['term'] = lending_df['term'].str.rstrip('months').str.strip()

In [361]:
lending_df['int_rate'] = lending_df['int_rate'].str.rstrip('%').str.strip()
lending_df['revol_util'] = lending_df['revol_util'].str.rstrip('%').str.strip()

In [362]:
lending_df['emp_length'].value_counts()

10+ years    8879
< 1 year     4583
2 years      4388
3 years      4095
4 years      3436
5 years      3282
1 year       3240
6 years      2229
7 years      1773
8 years      1479
9 years      1258
Name: emp_length, dtype: int64

In [363]:
#emp_length has  2.706650% values as empty. now need to fill these values. 
# Before fixing missing values, lets convert emp_length into float values.
def fix_years(years_str):
    if isinstance(years_str, float):  # Check if the input is already a float
        return years_str
    elif 'year' in years_str:  # Check if 'year' is present in the string
        years_str = years_str.replace('year','').replace('years','')
        if '+' in years_str:  # If '+' is present, extract the number before it and add 1
            years = float(years_str.split('+')[0]) + 1
        elif '<' in years_str:  # If '<' is present, extract the number after it and subtract 0.1
            years = float(years_str.replace('<','').split()[0]) - 0.1
        else:  # Otherwise, extract the number
            years = float(years_str.split()[0])
    else:
        years = None  # Return None if the string doesn't contain 'year'
    return years

lending_df['emp_length'] = lending_df['emp_length'].apply(fix_years)

In [364]:
lending_df['emp_length'].value_counts()

11.0    8879
0.9     4583
2.0     4388
3.0     4095
4.0     3436
5.0     3282
1.0     3240
6.0     2229
7.0     1773
8.0     1479
9.0     1258
Name: emp_length, dtype: int64

In [365]:
lending_df['emp_length'].describe()

count    38642.000000
mean         5.309966
std          3.762025
min          0.900000
25%          2.000000
50%          4.000000
75%          9.000000
max         11.000000
Name: emp_length, dtype: float64

In [366]:
lending_df['emp_length'].median()

4.0

In [367]:
# fill the missing values with median of 'emp_length'.
lending_df['emp_length'] = lending_df['emp_length'].fillna(lending_df['emp_length'].median())

In [368]:
# Now lets check th empty values of all columns
(lending_df.isnull().sum()/len(lending_df)) *100

loan_amnt                  0.000000
funded_amnt                0.000000
funded_amnt_inv            0.000000
term                       0.000000
int_rate                   0.000000
installment                0.000000
grade                      0.000000
emp_length                 0.000000
home_ownership             0.000000
annual_inc                 0.000000
verification_status        0.000000
issue_d                    0.000000
loan_status                0.000000
purpose                    0.000000
zip_code                   0.000000
addr_state                 0.000000
dti                        0.000000
delinq_2yrs                0.000000
earliest_cr_line           0.000000
inq_last_6mths             0.000000
open_acc                   0.000000
pub_rec                    0.000000
revol_bal                  0.000000
revol_util                 0.125891
total_acc                  0.000000
out_prncp                  0.000000
out_prncp_inv              0.000000
total_pymnt                0.000000
total_pymnt_inv            0.000000
total_rec_prncp            0.000000
total_rec_int              0.000000
recoveries                 0.000000
collection_recovery_fee    0.000000
dtype: float64

In [369]:
lending_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   loan_amnt                39717 non-null  int64
 1   funded_amnt              39717 non-null  int64
 2   funded_amnt_inv          39717 non-null  float64
 3   term                     39717 non-null  object
 4   int_rate                 39717 non-null  object
 5   installment              39717 non-null  float64
 6   grade                    39717 non-null  object
 7   emp_length               39717 non-null  float64
 8   home_ownership           39717 non-null  object
 9   annual_inc               39717 non-null  float64
 10  verification_status      39717 non-null  object
 11  issue_d                  39717 non-null  object
 12  loan_status              39717 non-null  object
 13  purpose                  39717 non-null  object
 14  zip_code                 39717 non-null  object
 15  addr_state               39717 non-null  object
 16  dti                      39717 non-null  float64
 17  delinq_2yrs              39717 non-null  int64
 18  earliest_cr_line         39717 non-null  object
 19  inq_last_6mths           39717 non-null  int64
 20  open_acc                 39717 non-null  int64
 21  pub_rec                  39717 non-null  int64
 22  revol_bal                39717 non-null  int64
 23  revol_util               39667 non-null  object
 24  total_acc                39717 non-null  int64
 25  out_prncp                39717 non-null  float64
 26  out_prncp_inv            39717 non-null  float64
 27  total_pymnt              39717 non-null  float64
 28  total_pymnt_inv          39717 non-null  float64
 29  total_rec_prncp          39717 non-null  float64
 30  total_rec_int            39717 non-null  float64
 31  recoveries               39717 non-null  float64
 32  collection_recovery_fee  39717 non-null  float64
dtypes: float64(13), int64(8), object(12)
memory usage: 10.0+ MB

In [388]:
# converting Columns to proper data type 
int_to_float = ['loan_amnt','funded_amnt','int_rate','revol_util']
lending_df[int_to_float] = lending_df[int_to_float].astype(float)
lending_df['term'] = lending_df['term'].astype(int)
lending_df['issue_d'] = pd.to_datetime(lending_df['issue_d'], format ='%b-%y')
# fill the missing values with median of 'revol_util'.
lending_df['revol_util'] = lending_df['revol_util'].fillna(lending_df['revol_util'].median())
# converting earliest_cr_line to date time format. format is not consistent here. 
#So make sure it is consistent then convert to datetimeformat
current_year = pd.datetime.now().year
current_century = current_year - (current_year % 100)
def convert_to_common_format(date_str):
    try:
        # Attempt to parse as month-year format
        return pd.to_datetime(date_str, format='%b-%y') + pd.offsets.DateOffset(years=current_century)
    except ValueError:
        try:
            # Attempt to parse as day-month format
            return pd.to_datetime(date_str, dayfirst=True)
        except ValueError:
            # If parsing fails, return NaT (missing value)
            return pd.NaT
lending_df['earliest_cr_line'] = lending_df['earliest_cr_line'].apply(convert_to_common_format)

In [389]:
lending_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   loan_amnt                39717 non-null  float64
 1   funded_amnt              39717 non-null  float64
 2   funded_amnt_inv          39717 non-null  float64
 3   term                     39717 non-null  int32
 4   int_rate                 39717 non-null  float64
 5   installment              39717 non-null  float64
 6   grade                    39717 non-null  object
 7   emp_length               39717 non-null  float64
 8   home_ownership           39717 non-null  object
 9   annual_inc               39717 non-null  float64
 10  verification_status      39717 non-null  object
 11  issue_d                  39717 non-null  datetime64[ns]
 12  loan_status              39717 non-null  object
 13  purpose                  39717 non-null  object
 14  zip_code                 39717 non-null  object
 15  addr_state               39717 non-null  object
 16  dti                      39717 non-null  float64
 17  delinq_2yrs              39717 non-null  int64
 18  earliest_cr_line         24869 non-null  datetime64[ns]
 19  inq_last_6mths           39717 non-null  int64
 20  open_acc                 39717 non-null  int64
 21  pub_rec                  39717 non-null  int64
 22  revol_bal                39717 non-null  int64
 23  revol_util               39717 non-null  float64
 24  total_acc                39717 non-null  int64
 25  out_prncp                39717 non-null  float64
 26  out_prncp_inv            39717 non-null  float64
 27  total_pymnt              39717 non-null  float64
 28  total_pymnt_inv          39717 non-null  float64
 29  total_rec_prncp          39717 non-null  float64
 30  total_rec_int            39717 non-null  float64
 31  recoveries               39717 non-null  float64
 32  collection_recovery_fee  39717 non-null  float64
dtypes: datetime64[ns](2), float64(17), int32(1), int64(6), object(7)
memory usage: 9.8+ MB